body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(16, 13, 13);
    height: 600px;
}
 
header{
    color: #0f0f0f;
    text-align: center;
    background-color: blanchedalmond;
    border: 30px;
    width: 1350px;
    margin-left: 10px;
    border-radius: 30px;
}

.container {
    text-align: center;
    border: 2px solid #ccc;
    background-color: #eee;
    padding: 20px;
    margin: 20px 0;
    border-radius: 30px;
    width: 550px;
  }

  img{
    float: left;
    border: 2px solid black;
    border-radius: 15px;
  }

  .new{
    text-align: center;
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background-color: blanchedalmond;
    border: 30px;
    width: 1350px;
    margin-left: 10px;
    border-radius: 30px;

  }
  
  .man{
    padding: 60px;
    margin-top: 50px;
    margin-left: 8px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 30px;
    width: 1340px;
  }
